#
# Copyright (c) 2019-2020 P3TERX <https://p3terx.com>
#
# This is free software, licensed under the MIT License.
# See /LICENSE for more information.
#
# https://github.com/P3TERX/Actions-OpenWrt
# Description: Build OpenWrt using GitHub Actions
#

name: OpenWrt-io-im

on:
  repository_dispatch:
  workflow_dispatch:
    inputs:
      branch:
        description: '选择仓库的分支：'
        default: 'openwrt-24.10'
        required: true
        type: choice
        options: [ openwrt-24.10, openwrt-25.12 ,master ]
      config_s:
        description: '配置文件'
        default: 'Vip_Super'
        required: true
        type: choice
        options: [ Vip_dz,Vip_Mini, Vip_Super, Vip_Plus,Vip_Custom,Vip_Bypass ]
      cpu_s:
        description: 'CPU优选'
        required: true
        default: '8'
        type: choice
        options:
          - '8'
          - '8370C'
          - '8272CL'
          - '8171M'
          
      target:
        description: '选择要生成的机型：'
        default: 'x86_64'
        required: true
        type: choice
        options: [ x86_64, rm2100, xm2100, r2s, r4s, r4se, r5s, r5c ]

      date_s:
        description: '固件日期'
        default: 'default'
        required: false
    
  
env:
  REPO_IO: https://github.com/istoreos/istoreos
  REPO_OP: https://github.com/openwrt/openwrt
  REPO_IM: https://github.com/immortalwrt/immortalwrt
  FEEDS_CONF: feeds.conf
  DIY_P1_SH: diy
  UPLOAD_BIN_DIR: true
  UPLOAD_IPK_DIR: true
  UPLOAD_FIRMWARE: true
  UPLOAD_RELEASE: false
  TZ: Asia/Shanghai

jobs:
  build:
    runs-on: ubuntu-24.04
    defaults:
      run:
        shell: bash
    if: github.event.repository.owner.id == github.event.sender.id
    name: istoreos-${{github.event.inputs.config_s}}-${{github.event.inputs.target}}-${{github.event.inputs.branch}}-${{github.event.inputs.date_s}}
    env:
      CONFIG_S: ${{github.event.inputs.config_s}}
      CPU_S: ${{github.event.inputs.cpu_s}}
      DATE_S: ${{github.event.inputs.date_s}}
      TARGET_DEVICE: ${{github.event.inputs.target}}
      REPO_BRANCH: ${{github.event.inputs.branch}}
 

    steps:
    - name: Setup variables
      run: |
        sudo timedatectl set-timezone 'Asia/Shanghai'
        git config --global user.name 'actions'
        git config --global user.email 'action@github.com'
        echo build_dir="/builder" >> "$GITHUB_ENV"
        
    - name: Set time zone
      run: sudo timedatectl set-timezone 'Asia/Shanghai'
    
    - name: Free disk space
      uses: sirpdboy/actions@free-disk
      with:
        build-workdir: /builder

    - name: Build System Setup
      uses: sirpdboy/actions@build-setup

    - name: Install LLVM
      uses: sirpdboy/actions@install-llvm

    - uses: actions/setup-go@v6
      with: 
         go-version: '1.23'
         
    - name: Restore Cached
      uses: actions/cache/restore@v5
      with:
        path: /builder/.ccache
        key: ${{env.REPO_BRANCH}}-${{env.TARGET_DEVICE}}
        
    - name: Clone source code
      working-directory: /builder
      run: |
        
        if [[ ${{env.REPO_BRANCH}} == 'istoreos-24.10' ]]; then
            git clone $REPO_IO -b ${{env.REPO_BRANCH}} openwrt
        #elif [[ ${{env.REPO_BRANCH}} == 'master' ]]; then
        #     git clone $REPO_OP -b openwrt-24.10 openwrt
        else
            git clone $REPO_IM -b ${{env.REPO_BRANCH}} openwrt
        fi
        git clone ${{ secrets.IOURL }} lede
        cp -Rf ./lede/* openwrt
        ln -sf /builder/openwrt $GITHUB_WORKSPACE/openwrt

    - name: Update feeds
      run: cd openwrt && ./scripts/feeds update -a
    - name: Install feeds
      run: cd openwrt && ./scripts/feeds install -a
    - name: Load custom feeds
      working-directory: /builder
      run: |
        chmod +x $DIY_P1_SH || true
        ls $GITHUB_WORKSPACE
        cd openwrt
        echo "OPENWRTROOT=$PWD" >> $GITHUB_ENV
        # echo "::set-output name=OPENWRTROOT::$(echo $PWD)"
        chmod +x $DIY_P1_SH  || true
         [ -e $DIY_P1_SH ] &&  ./$DIY_P1_SH ||  $GITHUB_WORKSPACE/$DIY_P1_SH
         # ./scripts/feeds update -a && ./scripts/feeds install -a
         ./scripts/feeds update -i && ./scripts/feeds install -i
         chmod -R 755 .
    - name: Cache
      id: cache
      uses: stupidloud/cachewrtbuild@main
      with:
        ccache: 'true'
        mixkey: x86-64-${{ env.REPO_BRANCH }}
        skip_saving: 'true'
        prefix: /builder/openwrt
    - name: defconfig
      run: |
        cd $OPENWRTROOT
        make defconfig
    - name: Download package
      id: package
      run: |
        cd $OPENWRTROOT
        make download -j50
        find dl -size -1024c -exec ls -l {} \;
        find dl -size -1024c -exec rm -f {} \;

    - name: Compile Packages
      id: compileopenwrt
      run: |
         df -h
         shopt -s extglob
         cd $OPENWRTROOT
         echo -e "$(nproc) thread compile"
         # make -j$(nproc)  || make -j1 V=s
         make tools/compile -j$(nproc) || make tools/compile -j72
         make toolchain/compile -j$(nproc) || make toolchain/compile -j72
         make target/compile -j$(nproc) || make target/compile -j72 IGNORE_ERRORS=1
         make diffconfig
         make package/compile -j$(nproc) IGNORE_ERRORS=1 || make package/compile -j72 IGNORE_ERRORS=1
         make package/index
         bash  bakkmod.sh
         cd $OPENWRTROOT/bin/packages/*
         PLATFORM=$(basename `pwd`)
         echo "PLATFORM=$PLATFORM" >> $GITHUB_ENV
         echo "PLATFORM=$PLATFORM" >> $GITHUB_OUTPUT
         cd $OPENWRTROOT/bin/targets/*
         TARGET=$(basename `pwd`)
         echo "TARGET=$TARGET" >> $GITHUB_ENV
         echo "TARGET=$TARGET" >> $GITHUB_OUTPUT
         cd *
         SUBTARGET=$(basename `pwd`)
         echo "SUBTARGET=$SUBTARGET" >> $GITHUB_ENV
         echo "SUBTARGET=$SUBTARGET" >> $GITHUB_OUTPUT
         echo "status=success" >> $GITHUB_OUTPUT
    - name: Generate Firmware
      id: compile
      if: steps.compileopenwrt.outputs.status  == 'success'
      run: |
         df -h
         shopt -s extglob
         cd $OPENWRTROOT
         rm -rf ./dl
         sed -i "s/subtarget/$SUBTARGET/g" files/etc/opkg/distfeeds.conf.server
         sed -i "s/target\//$TARGET\//g" files/etc/opkg/distfeeds.conf.server
         sed -i "s/platform/$PLATFORM/g" files/etc/opkg/distfeeds.conf.server
         cp files/etc/opkg/distfeeds.conf.server files/etc/opkg/distfeeds.conf.mirror
         make package/install -j$(nproc) || make package/install -j1 V=s
          make target/install -j$(nproc) || make target/install -j1 V=s
          make json_overview_image_info
          make checksum
         bash buildmd5.sh
         
         . $GITHUB_WORKSPACE/ezopenwrt_version
         if [[ $DATE_S = 'default' ]]; then
              echo "DATA=`date +%Y%m%d_%H -d +"6"hour`" >> $GITHUB_ENV
              # echo "DATA=`echo  $(date -d "$EZDATE" "+%F_%H") `" >>$GITHUB_ENV
         else 
             echo "DATA=$DATE_S" >> $GITHUB_ENV
         fi
         echo "TAG=$EZVER" >> $GITHUB_ENV
         echo "status=success" >> $GITHUB_OUTPUT
    - name: Check space usage
      if: (!cancelled())
      run: df -hT

        
    - name: Organize files
      id: organize
      if:  steps.compile.outputs.status  == 'success'
      run: |
      
        cd openwrt/bin/targets/*/*
         mv -f packages ../../../packages/
         echo "FIRMWARE=$PWD" >> $GITHUB_ENV
         echo "status=success" >> $GITHUB_OUTPUT
         mkdir -p /builder/assets
         gzip -dc EzOpWrt*.gz > "/builder/assets/ezopwrt.img"
    - name: Build ISO
      uses: sirpdboy/openwrt-installer-iso@v2
      with:
        INPUT_IMG: "/builder/assets/ezopwrt.img"
        OUTPUT_DIR: "${{ env.FIRMWARE }}"
        OUTPUT_ISO_NAME: "${{ env.DATA }}-${{ env.TAG }}-${{env.TARGET_DEVICE}}-${{env.REPO_BRANCH}}-installer.iso"
    - name: Generate release tag
      id: tag
      if: steps.compile.outputs.status  == 'success'
      run: |
         echo -e "\n* The stable source code has been updated." >> release.txt
         sed -i '1i ## Firmware Update Log' release.txt
         touch release.txt
         echo "status=success" >> $GITHUB_OUTPUT
        
    - name: Upload firmware directory
      uses: actions/upload-artifact@main
      if: steps.organize.outputs.status == 'success' && env.UPLOAD_FIRMWARE == 'true'
      with:
        name: ${{ env.DATA }}-${{ env.TAG }}-${{env.TARGET_DEVICE}}-${{env.REPO_BRANCH}}-Firmware
        path: ${{ env.FIRMWARE }}

    - name: Upload IPK directory
      uses: actions/upload-artifact@main
      if: env.UPLOAD_IPK_DIR == 'true' && steps.organize.outputs.status == 'success'
      with:
        name: ${{ env.DATA }}-${{ env.TAG }}-${{env.TARGET_DEVICE}}-${{env.REPO_BRANCH}}-ipk
        path: ./openwrt/bin/packages/
 
    - name: Upload bin directory
      uses: actions/upload-artifact@main
      if: env.UPLOAD_BIN_DIR == 'true' && steps.organize.outputs.status == 'success'
      with:
        name: ${{ env.DATA }}-${{ env.TAG }}-${{env.TARGET_DEVICE}}-${{env.REPO_BRANCH}}-bin
        path: ./openwrt/bin/
   
    - name: Upload firmware to release
      uses: softprops/action-gh-release@v2
      if: env.UPLOAD_RELEASE == 'true' && steps.tag.outputs.status == 'success' && !cancelled()
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN  }}
      with:
        tag_name: ${{  env.TAG }}
        body_path: release.txt
        files: ${{ env.FIRMWARE }}/*
       
    - name: Delete workflow runs
      uses: Mattraks/delete-workflow-runs@v2
      with:
          retain_days: 1
          keep_minimum_runs: 5

    - name: Remove old Releases
      uses: dev-drprasad/delete-older-releases@v0.3.4
      with:
          keep_latest: 10
          keep_min_download_counts: 1 # Optional parameters
          delete_tags: true
      env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN  }}
