#
# Copyright (c) 2019-2020 P3TERX <https://p3terx.com>
#
# This is free software, licensed under the MIT License.
# See /LICENSE for more information.
#
# https://github.com/P3TERX/Actions-OpenWrt
# Description: Build OpenWrt using GitHub Actions
#

name: OpenWrt-lede-mp

on:
  repository_dispatch:
  workflow_dispatch:
    inputs:
      branch:
        description: '选择仓库的分支：'
        default: 'master'
        required: true
        type: choice
        options: [  master, openwrt-24.10 ]

      cpu_s:
        description: 'CPU优选'
        required: true
        default: '8'
        type: choice
        options:
          - '8'
          - '8370C'
          - '8272CL'
          - '8171M'
          
      target:
        description: '选择要生成的机型：'
        default: 'x86_64'
        required: true
        type: choice
        options: [  x86_64,r2s, r4s, r4se, r5s, r5c,r6c,r6s,rockchip ]

      date_s:
        description: '固件日期'
        default: 'default'
        required: false

env:
  FEEDS_CONF: feeds.conf.default
  DIY_P1_SH: diy.sh
  APT: apt
  UPLOAD_BIN_DIR: true
  UPLOAD_IPK_DIR: true
  UPLOAD_FIRMWARE: true
  UPLOAD_RELEASE: false
  TZ: Asia/Shanghai

jobs:
  Build:
    runs-on: ubuntu-24.04
    defaults:
      run:
        shell: bash
    name: lede-${{ matrix.config }}-${{github.event.inputs.target}}-${{github.event.inputs.branch}}-${{github.event.inputs.date_s}}

    strategy:
      fail-fast: false
      matrix:
        config:
          - Vip_Plus
          - Vip_Bypass
    env:
      CONFIG_S: ${{ matrix.config }}
      CPU_S: ${{github.event.inputs.cpu_s}}
      DATE_S: ${{github.event.inputs.date_s}}
      TARGET_DEVICE: ${{github.event.inputs.target}}
      REPO_BRANCH: ${{github.event.inputs.branch}}

    steps:
    - name: Set time zone
      run: |
        sudo timedatectl set-timezone 'Asia/Shanghai'
        git config --global user.name 'actions'
        git config --global user.email 'action@github.com'
        echo WORKDIR="/builder" >> "$GITHUB_ENV"

    - name: Show system info
      uses: sirpdboy/actions@show-system

    - name: Free disk space
      uses: sirpdboy/actions@free-disk
      with:
        build-workdir: /builder

    - name: Build System Setup
      uses: sirpdboy/actions@build-setup
      
    - name: Install LLVM
      shell: bash
      run: |
        sudo apt-get update
        # Ubuntu 24.04 官方仓库中的 LLVM 版本
        sudo apt-get -y install llvm clang libclang-dev
    #- name: Install LLVM
    #  uses: sirpdboy/actions@install-llvm
      
    - name: Checkout
      uses: actions/checkout@main

    - uses: actions/setup-go@v6
      with: 
         go-version: '1.23'
        
    - name: Restore Cached
      uses: actions/cache/restore@v5
      with:
        path: /builder/.ccache
        key: ${{env.REPO_BRANCH}}-${{env.TARGET_DEVICE}}
        
    - name: Clone source code
      working-directory: /builder
      run: |
        df -hT $PWD
        if [[ $REPO_BRANCH == 'master' ]]; then
          git clone --depth 1 https://github.com/coolsnowwolf/lede -b master  openwrt
        else 
          git clone --depth 1 https://github.com/immortalwrt/immortalwrt -b $REPO_BRANCH  openwrt
        fi
        # git clone --depth 1  ${{ secrets.LEDEURL }} -b master  lede
        git clone --depth 1 https://github.com/loso3000/HarmonyOS -b master lede
        cp -Rf ./lede/* ./openwrt
        ln -sf /builder/openwrt $GITHUB_WORKSPACE/openwrt
        if [[ $DATE_S == 'default' ]]; then
          echo "DATA=`date +%Y%m%d_%H -d +"12"hour`" >> $GITHUB_ENV
        else 
          echo "DATA=$DATE_S" >>$GITHUB_ENV
        fi

    - name: Update feeds
      run: | 
          cd openwrt
          
          sed -i '/helloworld/d'  ./feeds.conf.default
          sed -i '/openwrt-23/d'  ./feeds.conf.default
          sed -i '/openwrt-24/s/^#//'  ./feeds.conf.default
          ./scripts/feeds update -a && ./scripts/feeds install -a
    - name: Update package
      run: |
         cd openwrt
         #chmod +x ./diyx/diyv  &&./diyx/diyv
         chmod +x ./${DIY_P1_SH}  &&./$DIY_P1_SH
         echo "OPENWRTROOT=$PWD" >> $GITHUB_ENV
         echo "OPENWRTROOT=$PWD"   >> $GITHUB_OUTPUT
         chmod -R 755 .
    - name: defconfig
      run: |
        cd openwrt
        cat  ./seed/${TARGET_DEVICE} > .config
        cat  ./seed/${CONFIG_S} >> .config
        echo -e 'CONFIG_GRUB_IMAGES=y\n' >> .config 
        echo -e 'CONFIG_DEVEL=y\nCONFIG_CCACHE=y' >> .config #Cache.Speedup
        make defconfig
        df -h
    - name: Download package
      run: |
        cd openwrt
        make download -j50
        find dl -size -1024c -exec ls -l {} \;
        find dl -size -1024c -exec rm -f {} \;
    - name: Compile Packages
      id: compileopenwrt
      run: |
         cd openwrt
         echo -e "$(nproc) thread compile"
         # make -j$(nproc)  || make -j1 V=s
         make tools/compile -j$(nproc) || make tools/compile -j72
         make toolchain/compile -j$(nproc) || make toolchain/compile -j72
         make target/compile -j$(nproc) || make target/compile -j72 IGNORE_ERRORS=1
         make diffconfig
         make package/compile -j$(nproc) IGNORE_ERRORS=1 || make package/compile -j72 IGNORE_ERRORS=1
         make package/index
         bash  bakkmod.sh
           cd $OPENWRTROOT/bin/packages/*
         PLATFORM=$(basename `pwd`)
         echo "PLATFORM=$PLATFORM" >> $GITHUB_ENV
         echo "PLATFORM=$PLATFORM" >> $GITHUB_OUTPUT
         cd $OPENWRTROOT/bin/targets/*
         TARGET=$(basename `pwd`)
         echo "TARGET=$TARGET" >> $GITHUB_ENV
         echo "TARGET=$TARGET" >> $GITHUB_OUTPUT
         cd *
         SUBTARGET=$(basename `pwd`)
         echo "SUBTARGET=$SUBTARGET" >> $GITHUB_ENV
         echo "SUBTARGET=$SUBTARGET" >> $GITHUB_OUTPUT
         echo "status=success" >> $GITHUB_OUTPUT
    - name: Generate Firmware
      id: compile
      if: steps.compileopenwrt.outputs.status  == 'success' && !cancelled()
      run: |
        df -h
         shopt -s extglob
         cd $OPENWRTROOT
         rm -rf ./dl
         sed -i "s/subtarget/$SUBTARGET/g" files/etc/opkg/distfeeds.conf.server
         sed -i "s/target\//$TARGET\//g" files/etc/opkg/distfeeds.conf.server
         sed -i "s/platform/$PLATFORM/g" files/etc/opkg/distfeeds.conf.server
         cp files/etc/opkg/distfeeds.conf.server files/etc/opkg/distfeeds.conf.mirror
         make package/install -j$(nproc) || make package/install -j1 V=s
         make target/install -j$(nproc) || make target/install -j1 V=s
          make json_overview_image_info
         make checksum
         bash buildmd5.sh
         .  $GITHUB_WORKSPACE/ezopenwrt_version
         if [[ $DATE_S == 'default' ]]; then
              echo "DATA=`date +%Y%m%d_%H -d +"5"hour`" >> $GITHUB_ENV
              # echo "DATA=`echo  $(date -d "$EZDATE" "+%F_%H") `" >>$GITHUB_ENV
         else 
            echo "DATA=$DATE_S" >> $GITHUB_ENV
         fi
         echo "TAG=$EZVER" >> $GITHUB_ENV
         echo "status=success" >> $GITHUB_OUTPUT
    - name: Organize files
      id: organize
      if: env.UPLOAD_FIRMWARE == 'true' && steps.compile.outputs.status  == 'success' && !cancelled()
      run: |
        cd openwrt/bin/targets/*/*
         mv -f packages  ../../../packages
        echo "FIRMWARE=$PWD" >> $GITHUB_ENV
        echo "status=success" >> $GITHUB_OUTPUT
    - name: Generate release tag
      id: tag
      if: steps.compile.outputs.status  == 'success' && !cancelled()
      run: |
        echo -e "\n* The stable source code has been updated." >> release.txt
        sed -i '1i ## Firmware Update Log' release.txt
        touch release.txt
        echo "status=success" >> $GITHUB_OUTPUT
        
    - name: Upload firmware directory
      uses: actions/upload-artifact@main
      if: steps.organize.outputs.status == 'success'  && env.UPLOAD_FIRMWARE == 'true' && !cancelled()
      with:
        name: ${{ env.DATA }}-${{ env.TAG }}-EzOpWrt-${{ env.TARGET_DEVICE }}-${{ env.REPO_BRANCH }}-Firmware
        path: ${{ env.FIRMWARE }}

    - name: Upload IPK directory
      uses: actions/upload-artifact@main
      if: env.UPLOAD_IPK_DIR == 'true' && steps.organize.outputs.status == 'success' && !cancelled()
      with:
        name: ${{ env.TAG }}-EzOpWrt-${{ env.TARGET_DEVICE }}-${{ env.REPO_BRANCH }}-ipk
        path: ./openwrt/bin/packages/
 
    - name: Upload bin directory
      uses: actions/upload-artifact@main
      if: env.UPLOAD_BIN_DIR == 'true' && steps.organize.outputs.status == 'success' && !cancelled()
      with:
        name: ${{ env.TAG }}-EzOpWrt-${{ env.TARGET_DEVICE }}-${{ env.REPO_BRANCH }}-bin
        path: ./openwrt/bin/

    - name: Upload firmware to release
      uses: softprops/action-gh-release@v2
      if: env.UPLOAD_RELEASE == 'true' && steps.tag.outputs.status == 'success' && !cancelled()
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN  }}
      with:
        tag_name: ${{ env.TAG }}
        body_path: release.txt
        files: ${{ env.FIRMWARE }}/*


    - name: Delete workflow runs
      uses: Mattraks/delete-workflow-runs@v2
      with:
          retain_days: 2
          keep_minimum_runs: 2

    - name: Remove old Releases
      uses: dev-drprasad/delete-older-releases@v0.3.4
      with:
          keep_latest: 3
          keep_min_download_counts: 1 # Optional parameters
          delete_tags: true
      env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN  }}
